<div class="flex-item rtl" flex-item-adjust="start center" [ngClass]="{'hide':showSeconUsernameInput}">
  <label class="rtl font-14 pad-lr-sm">בעל/ת חשבון seCon?</label>
  <div class="pad-lr-sm font-14 pointer">
    <a (click)="showSeconUserNameInput()">לחץ כאן</a>
  </div>
</div>

<div class="flex-item rtl" flex-item-adjust="start center" [ngClass]="{'hide':!showSeconUsernameInput}">
  <label class="rtl font-14 pad-lr-sm">מהו שם המשתמש שלך בseCon?</label>
  <input id="seconUsernameInput" #seconUsernameInput class="mar-lr-xs font-14" type="text" [(ngModel)]="seconUsername"
         (keyup.enter)="sendSeconUserName()">
  <button class="btn btn-primary font-14 pad-sm pointer" (click)="sendSeconUserName()">שלח</button>
</div>





