html{
  font-size: 10px;
  font-family: Arial;
}

.rtl{direction: rtl;}

.pad-xs{padding: 0.5rem;}

.pad-l-xs{padding-left: 0.5rem;}
.pad-r-xs{padding-right: 0.5rem;}
.pad-lr-xs{@extend .pad-l-xs; @extend .pad-r-xs;}

.pad-t-xs{padding-top: 0.5rem;}
.pad-b-xs{padding-bottom: 0.5rem;}
.pad-tb-xs{@extend .pad-t-xs; @extend .pad-b-xs;}


.pad-sm{padding: 1rem;}

.pad-l-sm{padding-left: 1rem;}
.pad-r-sm{padding-right: 1rem;}
.pad-lr-sm{@extend .pad-l-sm; @extend .pad-r-sm;}

.pad-t-sm{padding-top: 1rem;}
.pad-b-sm{padding-bottom: 1rem;}
.pad-tb-sm{@extend .pad-t-sm; @extend .pad-b-sm;}


.pad-med{padding: 1.5rem;}

.pad-l-med{padding-left: 1.5rem;}
.pad-r-med{padding-right: 1.5rem;}
.pad-lr-med{@extend .pad-l-med; @extend .pad-r-med;}

.pad-t-med{padding-top: 1.5rem;}
.pad-b-med{padding-bottom: 1.5rem;}
.pad-tb-med{@extend .pad-t-med; @extend .pad-b-med;}


.pad-lrg{padding: 2.5rem;}

.pad-l-lrg{padding-left: 2.5rem;}
.pad-r-lrg{padding-right: 2.5rem;}
.pad-lr-lrg{@extend .pad-l-lrg; @extend .pad-r-lrg;}

.pad-t-lrg{padding-top: 2.5rem;}
.pad-b-lrg{padding-bottom: 2.5rem;}
.pad-tb-lrg{@extend .pad-t-lrg; @extend .pad-b-lrg;}

.mar-xs{margin: 0.5rem;}

.mar-l-xs{margin-left: 0.5rem;}
.mar-r-xs{margin-right: 0.5rem;}
.mar-lr-xs{@extend .mar-l-xs; @extend .mar-r-xs;}

.mar-t-xs{margin-top: 0.5rem;}
.mar-b-xs{margin-bottom: 0.5rem;}
.mar-tb-xs{@extend .mar-t-xs; @extend .mar-b-xs;}


.mar-sm{margin: 1rem;}

.mar-l-sm{margin-left: 1rem;}
.mar-r-sm{margin-right: 1rem;}
.mar-lr-sm{@extend .mar-l-sm; @extend .mar-r-sm;}

.mar-t-sm{margin-top: 1rem;}
.mar-b-sm{margin-bottom: 1rem;}
.mar-tb-sm{@extend .mar-t-sm; @extend .mar-b-sm;}


.mar-med{margin: 1.5rem;}

.mar-l-med{margin-left: 1.5rem;}
.mar-r-med{margin-right: 1.5rem;}
.mar-lr-med{@extend .mar-l-med; @extend .mar-r-med;}

.mar-t-med{margin-top: 1.5rem;}
.mar-b-med{margin-bottom: 1.5rem;}
.mar-tb-med{@extend .mar-t-med; @extend .mar-b-med;}


.mar-lrg{margin: 2.5rem;}

.mar-l-lrg{margin-left: 2.5rem;}
.mar-r-lrg{margin-right: 2.5rem;}
.mar-lr-lrg{@extend .mar-l-lrg; @extend .mar-r-lrg;}

.mar-t-lrg{margin-top: 2.5rem;}
.mar-b-lrg{margin-bottom: 2.5rem;}
.mar-tb-lrg{@extend .mar-t-lrg; @extend .mar-b-lrg;}

.pointer{
  cursor: pointer;
}


.font-10{font-size: 1rem;}
.font-12{font-size: 1.2rem;}
.font-14{font-size: 1.4rem;}
.font-16{font-size: 1.6rem;}
.font-18{font-size: 1.8rem;}
.font-20{font-size: 2rem;}
.font-22{font-size: 2.2rem;}

.inline-block{
  display: inline-block;
}

.hide{
  display: none;
}

.bold{
  font-weight: bold;
}
